nav {
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: slategrey;
}
.logo {
  flex: 1;
  margin: auto;
  padding: auto;
}
.imagelogo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.name {
  flex: 2;
}
